.Calculator {
  display: flex;
  flex: 1;
  padding: 5%;
  align-items: center;
  justify-content: center;
}
.calc-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 75vh;
  min-height: 300px;
  max-height: 100%;
  background: #bbc3cc;
  padding: 2%;
  border-radius: 20px;
}
.row {
  display: flex;
  align-items: stretch;
}

button {
  border: none;
  border-radius: 5px;
  background: #969696;
  color: white;
  box-shadow: 2px 0px 4px 1px #a9afb6;
}

.row > button {
  flex: 1;
  font-size: 5vh;
}
.row > button,
.input,
.clear {
  margin: 1.5%;
}
.calc-wrapper > div,
.calc-wrapper > button {
  flex: 1;
}
.input {
  text-align: right;
  background: #666666;
  border-radius: 5px;
  color: white;
  font-size: 5vh;
  overflow: hidden;
  white-space: nowrap;
}
.clear {
  font-size: 3vh;
  text-transform: uppercase;
}
